.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: center; /* Center the list items horizontally */
}

.nav li {
  margin-right: 20px; /* Space between the items */
}

.nav li:last-child {
  margin-right: 0;
}

.nav .active {
  font-weight: bold;
  text-decoration: underline;
}